@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive {
  background: transparent;
  border: none;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive > span > svg{
  left: -75%;
  bottom: 50%;
  transform: scale(1, 1.3);
}